<header class="header">
    <div class="container">
      <a href="/" class="logo">
        <img src="/images/logo.png" alt="Website Downloader Logo" width="200" height="60">
      </a>
      <nav class="nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/faq">FAQ</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>